@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* GENERAL */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    -webkit-font-smoothing: antialiased;
    transition: background-color 0.5s ease;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

a {
    color: #575757;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #34568B;
}

/* ICONS */
.icon {
    margin-right: 10px;
    font-size: 18px;
    color: #34568B;
}

/* HEADER */
header {
    background-image: linear-gradient(to bottom, #34568B, #575757);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.5s ease-in-out;
}

header h1 {
    font-size: 5em;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header p {
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* SECTIONS */
.section-3d {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: all 0.6s ease;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.section-3d:hover {
    transform: rotateX(2deg) rotateY(-1deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-3d h2 {
    background-color: #34568B;
    color: white;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    border-bottom: 5px solid #575757;
    border-radius: 10px 10px 0 0;
}

/* About Me Image */
#about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.5s ease;
    object-fit: cover;
}

#about img:hover {
    transform: scale(1.05);
}

.section-3d ul {
    list-style: none;
    padding: 0;
}

.section-3d li {
    background-color: #575757;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.section-3d li:hover {
    background-color: #34568B;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.project h3 {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.project img {
    width: calc(33.333% - 10px);
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.project img:hover {
    transform: scale(1.05);
}

/* RESUME */
#resume {
    background-color: #575757;
    color: white;
    text-align: center;
    padding: 40px 0;
}

#resume a {
    background-color: white;
    color: #34568B;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s ease;
}

#resume a:hover {
    background-color: #f4f4f4;
    color: #575757;
    transform: scale(1.1);
}

/* CONTACT */
#contact {
    background-color: #34568B;
    color: white;
    text-align: center;
    padding: 40px 0;
}

#contact p {
    margin: 0;
    font-size: 1.2em;
}

/* FOOTER */
footer {
    background-color: #34568B;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* ANIMATIONS */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    .section-3d {
        padding: 40px;
    }
}
